<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% extends 'base.html' %}
    {% load crispy_forms_tags %}
    {% block content %}

    <h1>Add a new book</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" value="Validate" class="btn btn-primary">
    </form>
{% endblock %}
        <table>
            <tr>
                <td>{{ form.title.label_tag }}</td>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <td>{{ form.quantity.label_tag }}</td>
                <td>{{ form.quantity }}</td>
            </tr>
            <tr>
                <td>{{ form.author.label_tag }}</td>
                <td>{{ form.author }}</td>
            </tr>
        </table>
        {% if form.quantity.errors %}
        <div style="color: red;">
            {{ form.quantity.errors }}
        </div>
        {% endif %}
            {% if form.non_field_errors %}
        <div style="color: orange;">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <input type="submit" value="Validate">
    </form>
</body>

