{% extends 'base.html' %}

{% block content %}
<ul>
{% for book in books %}
<li><a href="{% url 'show' book.id %}">{{ book.title }}</a></li>
{% endfor %}
</ul>

<p><a href="{% url 'edit'%}">Modifier Livre</a></p>
<p><a href="{% url 'remove' %}">Supprimer Livre</a></p>
{% if user.is_authenticated %}
<p> Connected with the username {{user.username}}|<a href="{% url
'accounts:logout' %}"> Logout </a> </p>
{% else %}
<p>
    <a href="{% url 'accounts:login' %}">Connexion </a>
    <a href="{% url 'accounts:register' %}">Inscription </a>
</p>
{% endif%}
{% endblock %}